<!-- HEADER -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="">
    <meta name="author" content="alwaysonlymai@gmail.com">
    <link rel="icon" href="/favicon.ico">

    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap-3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="/enhancement/css/dropdowns-enhancement.min.css" rel="stylesheet">

    <!-- Basic Stylesheet -->
    <link href="/stylesheets/carousel.css" rel="stylesheet">

    <!-- Precedent Script -->
    <script src="/javascripts/dynamic-loading.js"></script>

    <link rel="stylesheet" href="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">

</head>