<!DOCTYPE html>
<html>
<% include header.html %>
<body>

<div class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dropdown trigger</a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
        <li><a tabindex="-1" href="#">Action</a></li>
        <li><a tabindex="-1" href="#">Another action</a></li>
        <!--<li class="dropdown">-->
            <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">More</a>-->
            <!--<ul class="dropdown-menu">-->
                <!--<li><a tabindex="-1" href="#">Action</a></li>-->
                <!--<li><a tabindex="-1" href="#">Another action</a></li>-->
            <!--</ul>-->
        <!--</li>-->
    </ul>
</div>


</body>

<% include jquery-bootstrap-scripts.html %>
</html>