<link rel="stylesheet" href="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">

<div class="data-table">
    <div class="container">
        <table id="table">
        </table>
    </div>
</div>

<script src="/jquery/jquery-1.11.2.min.js"></script>
<script src="/bootstrap-3.3.6/js/bootstrap.min.js"></script>
<script src="/enhancement/js/dropdowns-enhancement.js"></script>
<script src="/javascripts/carousel.js"></script>
<!--<script src="/bootstrap-table/js/bootstrap-table.min.js"></script>-->
<!--<script src="/bootstrap-table/js/editable/bootstrap-table-editable.min.js"></script>-->
<!--<script src="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/js/bootstrap-editable.min.js"></script>-->

<script type="text/javascript">
    var scripts = [
                location.search.substring(1) ||
                '/bootstrap-table/js/bootstrap-table.min.js',
                '/bootstrap-table/js/editable/bootstrap-table-editable.min.js',
                'http://rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/js/bootstrap-editable.min.js',
                '/bootstrap-table/js/bootstrap-table-zh-CN.min.js'
            ],
            stylesheets = ['/bootstrap-table/css/bootstrap-table.css'];

    eachSeries(stylesheets, getStylesheet, null);
    eachSeries(scripts, getScript, initTable);

    var table = $('#table'),
            selections = [];

    var data = [{
        id: 1,
        name: 'Item 1',
        price: '$1'
    }, {
        id: 2,
        name: 'Item 2',
        price: '$2'
    }];

    function operateFormatter(value, row, index) {
        return [
            '<a class="like" href="javascript:void(0)" title="Like">',
            '<i class="glyphicon glyphicon-heart"></i>',
            '</a>  ',
            '<a class="remove" href="javascript:void(0)" title="Remove">',
            '<i class="glyphicon glyphicon-remove"></i>',
            '</a>'
        ].join('');
    }

    function nameFormatter(value, row) {
        var icon = row.id % 2 === 0 ? 'glyphicon-star' : 'glyphicon-star-empty'

        return '<i class="glyphicon ' + icon + '"></i> ' + value;
    }

    function responseHandler(res) {
        $.each(res.rows, function (i, row) {
            row.state = $.inArray(row.id, selections) !== -1;
        });
        return res;
    }

    function detailFormatter(index, row) {
        var html = [];
        $.each(row, function (key, value) {
            html.push('<p><b>' + key + ':</b> ' + value + '</p>');
        });
        return html.join('');
    }

    window.operateEvents = {
        'click .like': function (e, value, row, index) {
            console.log('You click like action, row: ' + JSON.stringify(row));
        },
        'click .remove': function (e, value, row, index) {
            table.bootstrapTable('remove', {
                field: 'id',
                values: [row.id]
            });
        }
    };

    function initTable() {
        table.bootstrapTable({
            columns: [{
                field: 'state'
                , radio: true
//                , checkbox: true
            }, {
                field: 'id',
                title: 'Item ID',
                valign: 'middle',
                align: 'center'
            }, {
                field: 'name',
                title: 'Item Name',
                editable: false,
                valign: 'middle',
                align: 'center',
                formatter: nameFormatter // 通过formatter可以添加各种代码到相对应的单元格
            }, {
                field: 'price',
                title: 'Item Price',
                editable: true,
                valign: 'middle',
                align: 'center'
            }, {
                field: 'operation',
                title: 'Op',
                valign: 'middle',
                align: 'center',
                events: 'operateEvents',
                formatter: operateFormatter
            }]
            , url: '/users/table/data' // 数据来源
            , toolbar: '#toolbar' // 工具栏
            , striped: true // 条纹
            , sortName: 'id' // Defines which column can be sorted.
            , sortOrder: 'desc' // Defines the column sort order, can only be 'asc' or 'desc'.
            , pagination: true // True to show a pagination toolbar on table bottom.
            , cache: false // False to disable caching of AJAX requests.
            , onlyInfoPagination: false // True to show only the quantity of the data that is showing in the table. It needs the pagination table options is set to true.
            , sidePagination: 'server' // Defines the side pagination of table, can only be 'client' or 'server'. Using 'server' side requires either setting the 'url' or 'ajax' option
            , pageSize: 2
            , pageNumber: 1
            , pageList: '[2, 4, 6, 8, All]'
            , smartDisplay: true
            , search: true // Enable the search input.
            , searchOnEnterKey: true // The search method will be executed until the Enter key is pressed.
            , trimOnSearch: true // True to trim spaces in search field.
            , showHeader: true // False to hide the table header.
            , showFooter: false // If true shows summary footer row
            , showColumns: true // True to show the columns drop down list.
            , showRefresh: true // True to show the refresh button.
            , showToggle: true // True to show the toggle button to toggle table / card view.
            , showPaginationSwitch: true // True to show the pagination switch button.
            , minimumCountColumns: 2 // The minimum count columns to hide of the columns drop down list.
            , cardView: false // True to show card view table, for example mobile view.
            , responseHandler: responseHandler // Before load remote data, handler the response data format, the parameters object contains: res: the response data.
            , detailView: true // 设置为 True 可以显示详细页面模式
            , detailFormatter: detailFormatter // 详细信息格式化
//            , singleSelect: true // True to allow checkbox selecting only one row.
            , checkboxHeader: false // False to hide check-all checkbox in header row.
            , sortable: false // False to disable sortable of all columns.
//            , selectItemName: 'sel' // The name of radio or checkbox input.
//            ,data: data
        });
    }
</script>